<modal id="login-form-modal">
  <div class="modal">
    <div class="modal-body">
      <form>
        <div>
          <h2 style="display: inline-block; padding-left: 12px;">Login</h2>
          <button style="display: inline-block; float: right" (click)="closeModal('login-form-modal');">x</button>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Username
              <input [(ngModel)]="username"
                     name="username"
                     type="text"
                     required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input [(ngModel)]="password"
                     name="password"
                     type="password"
                     required
                     pattern="/^[\S]{6,}$/"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button class="button small" (click)="login()">Log In</button>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a>Not registered</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
