.user-nav {
  margin-top: 8px;
}

#logout-btn {
  width: 75px;
}

button {
  margin-bottom: 0;
  border-radius: 0;
  width: 55px;
  height: 30px;
  padding: 0;
}

#login-btn {
  background-color: #47c450;
}

#signup-btn {
  margin-left: 10px;
  background-color: #ff5050;
}

#upload-btn {
  margin-right: 25px;
  width: 70px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 0;
  height: 30px;
  line-height: 0;
  border-radius: 0;
}

