<div class="user-nav" *ngIf="loggedUsername">
  <a routerLink="/account">{{loggedUsername}}</a>
  <button id="logout-btn" class="button small" (click)="logout()">LOGOUT</button>
</div>

<div class="user-nav" *ngIf="!loggedUsername">
  <button id="login-btn" class="button small" (click)="openModal('login-form-modal');">LOGIN</button>
  <button id="signup-btn" class="button small" (click)="openModal('signup-form-modal');">JOIN</button>

  <login-modal></login-modal>
  <register-modal></register-modal>
</div>
