<nav class="row">
  <ul class="nav-links">
    <li class="nav-link">
      <a class="header-logo-link" routerLink="/" routerLinkActive="active">
        <img src="assets/images/logo.png"/>
      </a>
    </li>
    <li class="nav-link">
      <a routerLink="/" class="highlightable active-red" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-link" *ngIf="loggedUsername">
      <a routerLink="/stats" class="highlightable active-blue" routerLinkActive="active">Statistics</a>
    </li>
    <li class="nav-link" *ngIf="loggedUsername">
      <a routerLink="/notes/add" class="highlightable active-lightblue" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Add a note</a>
    </li>
  </ul>
</nav>

