<div class="content-body row">
  <div class="inline-block">
    <form #form="ngForm">
      <div class="note-table">

        <div class="note-table-row note-table-row-double" (mouseover)="showHint('biceps')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Biceps</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side">L</div>
            <div class="note-table-row note-measure-side">R</div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="bicepsL"
                     [(ngModel)]="note.bicepsL"
                     #bicepsL="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': bicepsL.invalid}">
            </div>
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="bicepsR"
                     [(ngModel)]="note.bicepsR"
                     #bicepsR="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': bicepsR.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row" (mouseover)="showHint('chest')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Chest</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side"></div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="chest"
                     [(ngModel)]="note.chest"
                     #chest="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': chest.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row" (mouseover)="showHint('waist')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Waist</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side"></div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="waist"
                     [(ngModel)]="note.waist"
                     #waist="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': waist.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row note-table-row-double" (mouseover)="showHint('hip')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Hip</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side">L</div>
            <div class="note-table-row note-measure-side">R</div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="hipL"
                     [(ngModel)]="note.hipL"
                     #hipL="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': hipL.invalid}">
            </div>
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="hipR"
                     [(ngModel)]="note.hipR"
                     #hipR="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': hipR.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row note-table-row-double" (mouseover)="showHint('shin')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Shin</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side">L</div>
            <div class="note-table-row note-measure-side">R</div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="shinL"
                     [(ngModel)]="note.shinL"
                     #shinL="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': shinL.invalid}">
            </div>
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="shinR"
                     [(ngModel)]="note.shinR"
                     #shinR="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': shinR.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row note-table-row-double" (mouseover)="showHint('forearm')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Forearm</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side">L</div>
            <div class="note-table-row note-measure-side">R</div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="forearmL"
                     [(ngModel)]="note.forearmL"
                     #forearmL="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': forearmL.invalid}">
            </div>
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="forearmR"
                     [(ngModel)]="note.forearmR"
                     #forearmR="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': forearmR.invalid}">
            </div>
          </div>
        </div>

        <div class="note-table-row" (mouseover)="showHint('weight')" (mouseleave)="hideHint()">
          <div class="note-table-col note-measure-name">Weight</div>
          <div class="note-table-col note-measure-sides">
            <div class="note-table-row note-measure-side"></div>
          </div>
          <div class="note-table-col note-measure-values">
            <div class="note-table-row note-measure-value">
              <input type="text"
                     name="weight"
                     [(ngModel)]="note.weight"
                     #weight="ngModel"
                     pattern="^[0-9]+(\.[0-9]+){0,1}$"
                     [ngClass]="{'not-valid': weight.invalid}">
            </div>
          </div>
        </div>

      </div>
      <button type="submit" class="button small" [disabled]="!form.valid" (click)="addNote()">Add note</button>
    </form>
  </div>

  <div class="inline-block body">
    <div class="body-img"></div>
  </div>

  <div class="inline-block measure-hint">
    <span *ngIf="!currentHint">Point the body part to get information how to proper measure it.</span>
    <span *ngIf="currentHint == 'biceps'">
      <ol type="1">
        <li>Rest your elbow on the tabletop. Double your fist and curl your forearm toward your shoulder. Flex your bicep as hard as possible and hold the flex.</li>
        <li>Hold the end of a seamless measuring tape atop the highest point of the bicep. Wrap the measuring tape straight around your upper arm and read the measurement where the tape overlaps the end at the highest point of the bicep to determine the circumference of your upper arm.</li>
      </ol>
    </span>
    <span *ngIf="currentHint == 'chest'">
      <ol type="1">
        <li>Wrap the tape measure around your chest. Position it so that the tape is horizontal to the ground, and falls just under your armpits. Bring it around your back so that the ends come together in front, across the widest part of your chest.</li>
      </ol>
    </span>
    <span *ngIf="currentHint == 'waist'">Waist</span>
    <span *ngIf="currentHint == 'hip'">Hip</span>
    <span *ngIf="currentHint == 'shin'">Shin</span>
    <span *ngIf="currentHint == 'forearm'">Forearm</span>
    <span *ngIf="currentHint == 'weight'">Weight</span>
  </div>
</div>
