$row-height: 25px;

.note-table {
  display: table;
  width: 335px;
  background-color: #eee;
  border-spacing: 5px;

  >.note-table-row-double {
    height: $row-height*2 !important;

    .note-measure-name{
      height: $row-height*2;
      line-height: $row-height*2;
    }
  }

  >.note-table-row {
    height: $row-height;
    display: table-row;
    width: auto;
    clear: both;

    >.note-table-col {
      float: left;
      display: table-column;
      width: 200px;
      background-color: #ccc;

      >.note-table-row {
        height: $row-height;
      }
    }
  }

  .note-measure-name {
    width: 150px !important;
    padding-left: 4px;
    line-height: $row-height;
  }

  .note-measure-sides {
    width: 24px !important;

    .note-measure-side {
      text-align: center;
    }
  }

  .note-measure-values {

    width: 150px !important;

    input {
      margin: 0;
      padding: 0;
      height: $row-height;
    }
  }
}

.inline-block {
  display: inline-block;
}

.body {

  margin-left: 30px;

  .body-img {
    height: 315px;
    width: 210px;
    background: url(../../../assets/images/body.jpg) 100% 100% no-repeat;
    background-size: cover;
  }
}

.measure-hint {

  width: 345px;
  margin-left: 30px;
  vertical-align: top;
}

.not-valid {
  border: 1px solid darkred;
}
