<header>
  <div class="row content-body">
    <navigation class="column navigation" [loggedUsername]="isLogged"></navigation>
    <user-navigation class="column auth" [loggedUsername]="isLogged"></user-navigation>
  </div>
</header>
