<div class="content-body row">
  <div class="parameters">
    <div class="parameter-column">
      <label class="datepicker-label parameter-row">Date from</label>
      <label class="datepicker-label parameter-row">Date to</label>
    </div>
    <div class="parameter-column">
      <material-datepicker class="datepicker parameter-row" [(date)]="dateFrom" dateFormat="YYYY-MM-DD" (dateChange)="change($event)"></material-datepicker>
      <material-datepicker class="datepicker parameter-row" [(date)]="dateTo" dateFormat="YYYY-MM-DD" (dateChange)="change($event)"></material-datepicker>
    </div>
  </div>

  <div class="chart-data">
    <chart [options]="options"></chart>
  </div>
</div>
