<modal id="signup-form-modal">
  <div class="modal">
    <div class="modal-body">
      <form>
        <div>
          <h2 style="display: inline-block; padding-left: 12px;">Register</h2>
          <button style="display: inline-block; float: right" (click)="closeModal('signup-form-modal');">x</button>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Username
              <input name="username"
                     type="text"
                     required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input name="password"
                     type="password"
                     required
                     pattern="/^[\S]{6,}$/"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Confirm Password
              <input name="confirmationPassword"
                     type="password"
                     required
                     pattern="/^[\S]{6,}$/"/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Email
              <input name="email"
                     type="email"
                     required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button class="button small">Sign Up</button>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <a>Already have an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
